.top-buffer { 
	margin-top:20px; 
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px;
  width: 200px;
  height: 150px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}