<!DOCTYPE html>
<html>
<head>
  <title>Simple Library</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <h2>{{title}}</h2>
    <div class="leftArea">
			<table id="bookTable">
				  <thead>
				    <tr>
				      <th>ID</th>
				      <th>Book Name</th>
				      <th>Author</th>
				      <th>price</th>
				      <th>Status</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr v-for="(book, index) in books">
				      <td>{{book.id}}</td>
				      <td>{{book.bookName}}</td>
				      <td>{{book.author}}</td>
				      <td>{{book.price}}</td>
				      <td>{{book.bookStatus}}</td>
				    </tr>
				  </tbody>
				</table>
  </div>
  </div>
  <script>
  const rootURL = "http://localhost:8080/librarySystem/library/books/";
    var app = new Vue({
      el: '#app',
      data: function(){
        return{
        title: 'Welcome to the Simple Library', 
        book: {
            id: '',
            bookName:'',
            author: '',
            price:'',
            bookStatus: ''},
        books:[]
      }
      },
      
      methods: {
        async findAllBooks() {
        	const response = await fetch(rootURL);
        	const json = await response.json();
        	this.books=json;  
           }
      },
      
      updated() {
        console.log('updated')
        
      },
      mounted() {
         console.log('Finding Books');
         this.findAllBooks();
        },
        created(){
            	console.log("Created");
            }
    })
  </script>
</body>
</html>
